<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPlace - Edit Post</title>
</head>
<body>
    <h1 class="site-title">Edit Post</h1>

    <form class="edit-form" action="/edit/<%= index %>" method="POST">
        <label for="creator">Creator</label>
        <input type="text" id="creator" name="creator" value="<%= post.creator %>" placeholder="Post creator" required>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= post.title %>" placeholder="Post title" required>
        <label for="category">Category</label>
        <select id="category" name="category" required>
            <option value="tech" <% if (post.category === "tech" ? "selected" : "") %>>Tech</option>
            <option value="lifestyle" <% if (post.category === "lifestyle" ? "selected" : "") %>>Lifestyle</option>
            <option value="education" <% if (post.category === "education" ? "selected" : "") %>>Education</option>
            <option value="sports" <% if (post.category === "sports" ? "selected" : "") %>>Sports</option>
            <option value="science" <% if (post.category === "science" ? "selected" : "") %>>Science</option>
            <option value="cars" <% if (post.category === "cars" ? "selected" : "") %>>Cars</option>
        </select>
        <label for="content">Content</label>
        <textarea id="content" name="content" placeholder="What's on your mind?" required><%= post.content %></textarea>
        <input type="submit" value="Save">
    </form>
</body>
</html>