<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPlace - Home</title>
</head>
<body>
    <!-- TODO: title goes here -->
    <!-- TODO: blog post form goes here -->
    <form action="/create" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="content" placeholder="What's on your mind?">
        <input type="submit" value="OK">
    </form>
    <!-- TODO: list of blog posts with most recent at the top -->
</body>
</html>