body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: rgb(20, 20, 20);
}

.site-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.create-form, .edit-form {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px white;
}

.create-form *, .edit-form * {
    display: flex;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.create-form #content, .edit-form #content {
    font-family: inherit;
    resize: none;
}

.blog-post {
    width: 60%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: grid;
    grid-template:
        "title title category edit" 30px
        "creator date date delete" 30px
        "cn cn cn cn" 300px
        / 1fr 4fr 1fr 70px;
    gap: 10px 10px;
    border: solid 5px white;
}

.blog-title {
    grid-area: title;
    align-self: center;
}

.blog-creator {
    grid-area: creator;
    align-self: center;
}

.blog-date {
    grid-area: date;
    justify-self: right;
    align-self: center;
}

.blog-category {
    grid-area: category;
    justify-self: right;
    align-self: center;
}

.blog-content {
    grid-area: cn;
    border: solid 2px lightgray;
}

.edit-button {
    grid-area: edit;
}

.delete-button {
    grid-area: delete;
}